__pycache__/

.vscode/

objifier/data/hymenoptera_data/
objifier/data/cifar-10-batches-py/
objifier/data/train
objifier/data/val

objifier/weights/resnet50-pretrained.pth

objifier/logs/

!objifier/logs/gg

build/

dist/

main.spec

objifier/data/cifar-10-python.tar.gz
